<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="" />
    <add key="User" value="" />
    <add key="Password" value="" />
    <add key="Application" value="" />
    <add key="Frequency" value="" />
    <add key="ftp" value="" />
    <add key="ftpUserName" value="" />
    <add key="ftpUserPwd" value="" />
    <add key="WebServiceURL" value="" />
    <add key="TenantID" value="" />
    <add key="Database" value="" />
    <add key="TerminalID" value="" />
    <add key="LastBillID" value="" />
    <add key="LastRetBillID" value="" />
	<add key="LiveFrom" value="" />
  </appSettings>
</configuration>